@import '@/styles/mixins.less';
@import '@/styles/variables.less';

.categoryTreeNode {
  position: relative;
  width: 100%;
  padding: @gap;
  border-radius: @border-radius-sm;
  transition: @motion-duration-fast;
  &:hover {
    background-color: var(--app-color-bg-text-hover);
  }

  .levelIcon {
    position: absolute;
    left: -1.5em;
    color: @color-text-quaternary;
  }
}
