@import '@/styles/mixins.less';
@import '@/styles/variables.less';

.helloPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @body-background;

  .iconWrapper {
    @icon-size: 5em;
    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;
    width: @icon-size;
    height: @icon-size;

    .icon {
      position: absolute;
      font-size: @icon-size;
      &.lockIcon {
        color: @color-text-placeholder;
        opacity: 1;
      }
      &.unlockIcon {
        color: @color-primary;
        opacity: 0;
      }
    }

    &:hover {
      .lockIcon {
        opacity: 0;
      }
      .unlockIcon {
        opacity: 1;
      }
    }
  }

  .input {
    padding: @gap;
    font-size: @font-size-h3;
    text-align: center;
    background-color: @module-background;
  }
}
