@import "@/styles/init.less";

.articleList {
  .toolbar {
    display: flex;
    justify-content: space-between;

    .select {
      width: 110px;
    }
    .search {
      width: 280px;
    }
    .categoriesTree {
      width: 230px;
    }
  }
}
